.canvas-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #4B0082, #800080);
    min-height: 100vh;
    color: white;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.navbar button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.color-selection {
    display: flex;
}

.color-selection button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.canvas {
    border: 1px solid white;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .canvas {
        height: 300px; /* Уменьшение высоты канваса для мобильных */
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar button {
        margin: 5px 0; /* Уменьшение отступа между кнопками */
    }
}